*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  max-width: 100vw;
  display: flex;
  gap:10px;
  margin: 0 10px;
}
.left{
    width:50%;
    height: 100vh;
    background-color: rgb(236, 76, 143);
    padding: 10px;
    color: white;
    font-size: 40px;
}
.right{
    width: 50%;
    height: 100vh;
}
.up{
  height: 50%;
  background-color: rgb(247, 165, 57);
  padding: 10px;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
.down{
    height: 50%;
    display: flex;
    gap:10px;
}
.down-left{
    width: 50%;
    background-color: purple;
     padding: 10px;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
.down-right{
      width: 50%;
    background-color: rgb(9, 61, 52);
     padding: 10px;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
@media screen and (max-width:576px) {
    .container{
        display: block;
    }
    .down{
        display: block;
    }
    .left, .up, .down-left, .down-right{
        width: 100vw;
        height: 30vh;
    }
    .left{
        margin-bottom: 10px;
    }
}