*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  max-width: 100vw;
  display: flex;
  gap:10px;
  margin: 0 auto;
}
.left{
    width:50%;
    height: 100vh;
    background-color: rgb(236, 76, 143);
    padding: 10px;
    color: white;
    font-size: 40px;
}
.right{
    width: 50%;
    height: 100vh;
}
.up{
  height: 50%;
  background-color: rgb(247, 165, 57);
  padding: 10px;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
.down{
    height: 50%;
    display: flex;
    gap:10px;
}
.down-left{
    width: 50%;
    background-color: purple;
     padding: 10px;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
.down-right{
      width: 50%;
    background-color: rgb(8, 107, 87);
     padding: 10px;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
